name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2 over SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}

          script: |
            echo "Logging into Docker Hub..."
            sudo docker login -u ${{ secrets.REGISTRY_USERNAME }} -p ${{ secrets.REGISTRY_TOKEN }}

            echo "Pulling latest Docker image..."
            sudo docker pull ${{ secrets.REGISTRY_USERNAME }}/${{ secrets.IMAGE_NAME }}:latest

            echo "Stopping old container if running..."
            sudo docker rm -f app || true

            echo "Starting new container..."
            sudo docker run -d -p 5000:5000 --name app ${{ secrets.REGISTRY_USERNAME }}/${{ secrets.IMAGE_NAME }}:latest

            echo "Deployment successful"
